/* CSS RESET  */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
	box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
	margin: 0;
  }
  
  body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
  }
  
  /* Set shorter line heights on headings and interactive elements */
  h1, h2, h3, h4,
  button, input, label {
	line-height: 1.1;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
	font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
	text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
  }
  
  /*
	9. Create a root stacking context
  */
  #root, #__next {
	isolation: isolate;
  }

:root {
	/* colors for buttons; MASK at footer and DESCRIPTION P uses same colors as button1 4D96A9*/
	--blue: #4D96A9;
	--purple: #855FB1;
	
	--light-blue: #71C0D4;
	--light-purple: #B18BDD;
	
	--blue-font: #8FE3F9;
	--purple-font: #D9B8FF;
	
	/*colors for typography*/
	--header-color: #28283D;
	--body-color: #87879D;
	
	--off-white: #FAFAFA;
	
	/*typography*/
	--black-weight: 900;
	--medium: 500;
	
	--smaller-header-font: 2rem;
	--medium-header-font: 2.5rem;
	--bigger-header-font: 4rem;
	/* same line height for desktop header */

	--heading-line-height: 2.75rem;
	--smaller-heading-line-height: 2.25rem;
	--body-line-height: 1.625rem;

	--smaller-body-font: 1rem;
	--bigger-body-font: 1.125rem;
	
	--letter-spacing: 0.25rem;
}

body {
	font-family: "Red Hat Display", sans-serif;
	background-color: var(--off-white);
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.about {
	animation: fade-out linear;
	animation-timeline: view();
	animation-range: exit -20px;
}

@keyframes fade-out {
	to {opacity: 0;}
}

.about__hero-img--left,
.about__hero-img--right {display: none;}

.about__hero-img {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
}

.about__logo,
.about__summary {padding: 3rem 1.5rem 0;}
.about__summary {margin-bottom: 9.25rem;}

.features__one, 
.features__two {
	padding: 0 1.5rem;
}

.features__one--decoration, .features__two--decoration {
	position: relative;
	background-color: var(--off-white);
	border-radius: 50%;
	max-width: 3.5rem;
	min-height: 3.5rem;
	line-height: 3.5rem;
	font-weight: var(--black-weight);
	font-size: var(--smaller-body-font);
	border: 1px solid rgba(135, 135, 157, 25%);
	text-align: center;
	top: 0;
	margin: 0 auto;
	z-index: 1;
}

.features__two--decoration {
	position: absolute;
	min-width: 3.5rem;
	top: -1.75rem;
	left: calc(50% - 1.75rem);
}

.features__one--decoration{ margin-bottom: 4rem;}

.features__one--decoration::before,
.features__two--decoration::before {
	content: '';
	position: absolute;
	height: 5.25rem;
	width: 1px;
	background-color: rgba(135, 135, 157, 25%);
	bottom: 3.5rem;
	left: 50%;
}

.about__logo {
	margin: 0 auto 3.38rem;
	animation: about-btn-slide-in 3.4s ease-out 1 forwards;
}

.logo-animation-mask {
	overflow: hidden;
}

h1,
h2,
button {
	font-weight: var(--black-weight);
}

h1 { 
	font-size: var(--medium-header-font);
	line-height: var(--heading-line-height);
	animation: h1-slide-in 1.1s ease-out 1 forwards;
}

.hero-text {
	overflow: hidden;
}

@keyframes h1-slide-in{
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.about__desc {animation: about-desc-slide-in 2s ease-out 1 forwards;}
.hero-desc-text { 
	overflow: hidden;
}

@keyframes about-desc-slide-in{
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

h2 {
	font-size: var(--smaller-header-font);
	line-height: var(--smaller-heading-line-height);
}

.features__one-heading {
	margin: 1.5rem 0 2rem;
}

p {
	font-weight: var(--medium);
	color: var(--body-color);
	font-size: var(--smaller-body-font);
	margin: 1.5rem 0 2rem;
}

button {
	border-radius: 29px;
	border: none;
	font-size: var(--smaller-body-font);
	color: white;
	padding: 1rem 2.5rem;
	transition: all 0.4s ease-out;
}

.about__btn {
	animation: about-btn-slide-in 3.4s ease-out 1 forwards;
	overflow: hidden;
}

@keyframes about-btn-slide-in{
	0% {
		opacity: 0;
	}
	70% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.about__btn--blue { 
	margin-bottom: 1rem;
	background-color: var(--blue); 

	span {
		color: var(--blue-font);
	}
}

.about__btn--blue:hover, .about__btn--blue:focus {
	background-color: var(--light-blue);
	cursor: pointer;
}

.about__btn--purple, .features__two__btn--purple { 
	background-color: var(--purple);
	padding: 1rem 1.81rem;
}

.about__btn--purple:hover, 
.about__btn--purple:focus,
.features__two__btn--purple:hover,
.features__two__btn--purple:focus {
	background-color: var(--light-purple);
	cursor: pointer;
}

.features__two__btn--purple span {
	color: var(--purple-font);
}

span {
	margin-left: 0.25rem;
}

.about__btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.features__one-img-container {
	scale: 0;
	opacity: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.56rem 1.5rem;
	animation: section-one-img linear forwards;
	animation-timeline: view();
	animation-range: 150px 500px;

	img {
		border-radius: 8px;
	}
}

@keyframes section-one-img {
	to {
		scale: 1;
		opacity: 1;
	}
}

.features__one-container {
	margin: 4rem 0 11rem;

	.features__one-overline--blue {
		color: var(--blue);
		text-transform: uppercase;
		font-weight: var(--black-weight);
		letter-spacing: var(--letter-spacing);
	}
}

.features__two__heading--light,
.features__two__desc--light {
	color: var(--off-white);
}

.features__two__container {
	padding: 5.75rem 1.5rem;
	position: inherit;
	opacity: 0;
	animation: section-two-fade-in ease-in;
	animation-timeline: view();
	animation-range: entry 70%;

	h2 {
		text-wrap: wrap;
	}
	p{
		font-size: var(--bigger-body-font);
		margin: 1.5rem 0 2rem;
	}
}

@keyframes section-two-fade-in {
	to {opacity: 1; }
}


.features__two {
	position: relative;
	background-color: var(--blue);
 }

.features__two--bg-img{
	position: absolute;
	object-fit: cover;
	bottom: 0;
	left: 0;
	display: block;
	opacity: 0.1045;
	height: 100%;
	width: 100%;
}

/* tablet */
@media screen and (min-width: 48rem) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: var(--medium-header-font);
		line-height: var(--heading-line-height);
	}
	.about__summary {margin: 4.5rem 9.68rem 10.25rem;}
	.about__btn {flex-direction: row;}
	.about__btn--blue{ margin: 0 1rem;}

	.features__one--decoration {margin-bottom: 4.56rem;}

	.features__one-img-container {
		grid-template-columns: repeat(4, 1fr);
		gap: 0.69rem;
	}
	
	.features__one-container {
		padding-left: 6.0625rem;
		padding-right: 6.0625rem;
	}
}

/* desktop */
@media screen and (min-width: 80rem) {
	body {
		overflow-x: hidden;
	}
	h1 {
		font-size: var(--bigger-header-font);
		line-height: var(--bigger-header-font);
	}

	.about__hero-img-header {display: none;}

	.about__hero-img--left,
	.about__hero-img--right {display: block;}
	.about__hero-img--left{
		left: -32px;
		position: relative;
	}
	.about__hero-img--right {
		right: -32px;
		position: relative;
		top: 55px;
	}

	.about__hero-img {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.about {
		position: relative;
		margin-bottom: 15.56rem;
	}

	.about__summary {
		max-width: 33.75rem;
		position: absolute;
		margin: 0;
		bottom: -55px;
		left: calc(50% - (33.75rem/2))
	}

	.features__one-img-container {
		gap: 1.88rem;
		padding: 0 10.31rem;
	}

	.features__one-container {
		padding: 0 28.125rem;
	}

	.features__two__container {
		display: flex;
		text-align: left;
		flex-direction: row;
		padding-left: 10.31rem;
		padding-right: 10.31rem;
		align-items: center;
	}

	.features__two__heading--light {margin-right: 7.81rem;}
	.features__two__desc--light { 
		padding-right: 5.75rem;
		min-width: 21.875rem;
	}

	.features__two__btn--purple {min-width: 12.06rem;}
}